@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
}

.greenButton {
  box-shadow: 0px 5px #039300;
  background-color: #04b500;
}
.greenButton:hover {
  translate: 0px -5px;
  box-shadow: 0px 10px #039300;
  background-color: #04b500;
}
.blackButton {
  box-shadow: 0px 5px #000;
  background-color: #312f35;
}
.blackButton:hover {
  translate: 0px -5px;
  box-shadow: 0px 10px #000;
  background-color: #312f35;
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: lightslategrey;
  border-radius: 1vw;
  margin: 1px;
  border: 0.2vw solid lightslategrey;
}

*::-webkit-scrollbar-track {
  /* background-color: #1e293b; */
}

*::-webkit-scrollbar {
  width: 1vw;
}
